<% provide(:title, "Phụ huynh") %>
<div class="row tutor-top">
  <div class="col-md-8">
    <h3>Quản lý việc học của con bạn</h3>
    <p>Tìm kiếm một người gia sư giỏi cho con bạn sẽ rất khó khăn nếu không có công cụ hỗ trợ và kết nối. AsknTeach hiểu và sẵn sàng chia sẻ điều đó cùng bạn và giúp con bạn có một tương lai tươi sáng hơn.</p>
    <p>Chỉ cần tạo yêu cầu về gia sư, AsknTeach sẽ chọn lọc gia sư phù hợp nhất cho bạn. Ngoài ra, bạn có thể phản hồi các ý kiến về gia sư dạy con mình. Chúng tôi luôn có một đội ngũ tư vấn viên sẵn sàng lắng nghe và hỗ trợ trao đổi với gia sư dạy ngay khi có yêu cầu.</p>
  </div>
  <div class="col-md-4">
    <%= image_tag("parent_artwork.png", width: "100%") %>
  </div>
</div>

<div class="row tutor-top">
  <h3 class="text-center">Hãy để AsknTeach đồng hành cùng bạn</h3>
  <p class="text-center">Cho dù bạn là ai, chỉ cần với kiến thức và niềm đam mê để giảng dạy - AsknTeach chính là đối tác của bạn.</p>
  <div class="col-md-4">
    <%= image_tag("parent_find.png", width: "100%", class: "tutor-img") %>
    <p class="tutor-p">Chủ động trong việc tìm kiếm gia sư</p>
    <div class="tutor-div">Nếu bạn lo lắng về điểm số con mình ở trường hay căng thẳng vì con chậm hiểu bài, mất tập trung trong giờ học. Bạn muốn tìm một gia sư tốt phù hợp với kinh tế và cá tính của con mình.</div>
  </div>
  <div class="col-md-4">
    <%= image_tag("online_payment_artwork@3x.png", width: "100%", class: "tutor-img") %>
    <p class="tutor-p">An toàn</p>
    <div class="tutor-div">Dù với hình thức học online hoặc offline AsknTeach luôn có một đội ngũ chuyên viên chuyên nghiệp kiểm duyệt về trình độ và lý lịch của gia sư. Ngoài ra phụ huynh có thể yêu cầu học thử và thay đổi gia sư trong quá trình học thử đó.</div>
  </div>
  <div class="col-md-4">
    <%= image_tag("process_manage_artwork@3x.png", width: "100%", class: "tutor-img") %>
    <p class="tutor-p">Xây dựng cộng đồng cha mẹ</p>
    <div class="tutor-div">Không chỉ là nơi kết nối gia sư và phụ huynh. Asknteach hướng tới việc xây dựng một cộng đồng cha mẹ giúp phụ huynh chia sẻ kinh nghiệm dạy con.</div>
  </div>
</div>

<div class="row tutor-top">
  <div class="col-md-5">
    <%= image_tag("application-img.png", width: "100%") %>
  </div>
  <div class="col-md-7">
    <h3>Ứng dụng dạy học giúp bạn giám sát trực tiếp các khóa học online của con cái và nhiều hơn thế nữa...</h3>
    <p>Hãy đăng ký và yêu cầu tìm gia sư cho con của bạn tại các lớp học trực tuyến thông qua ứng dụng AsknTeach Parent ngay hôm nay!</p>
  </div>
</div>
