<% provide(:title, "Học sinh") %>
<div class="row tutor-top">
  <div class="col-md-4">
    <%= image_tag("student-img.png", width: "100%") %>
  </div>
  <div class="col-md-8">
    <h3>Chủ động về việc học của mình</h3>
    <p>Bạn quá mệt mỏi với việc học ở trường? Bạn cần người giúp mình học hiệu quả hơn? Hãy để AsknTeach giúp bạn nắm lấy tương lai của mình.</p>
    <p>Học sinh sẽ có cơ hội được gặp gỡ và trao đổi suy nghĩ cũng như đưa ra những câu hỏi về học tập qua ứng dụng AsknTeach cho giáo viên để thảo luận.</p>
  </div>
</div>

<div class="row tutor-top">
  <h3 class="text-center">Tại sao nên thuê gia sư qua AsknTeach?</h3>
  <div class="col-md-4">
    <%= image_tag("find_tutor_artwork@3x.png", width: "100%", class: "student-img") %>
    <p class="tutor-p">Học tại nhà</p>
    <div class="tutor-div">Nếu bạn muốn bổ sung thêm kiến thức ngoài giờ học chính mà không phải đi bất cứ đâu, bạn có thể chọn gia sư tới nhà với thời gian biểu linh động: bạn được thoải mái thương lượng thời lượng học với gia sư một cách phù hợp nhất.</div>
  </div>
  <div class="col-md-4">
    <%= image_tag("learn_everywhere_artwork@3x.png", width: "100%", class: "student-img") %>
    <p class="tutor-p">Học online</p>
    <div class="tutor-div">Bạn có thể học mọi lúc, mọi nơi, tiết kiệm thời gian di chuyển và sắp xếp thời gian, lịch học của mình với gia sư bất cứ thời điểm nào bạn mong muốn kể cả là dịp nghỉ lễ thông qua hình thức dạy học online này.</div>
  </div>
  <div class="col-md-4">
    <%= image_tag("online_payment_artwork@3x.png", width: "100%", class: "student-img") %>
    <p class="tutor-p">Chi phí 0 đồng</p>
    <div class="tutor-div">Với Asknteach, bạn sẽ không bị mất bất cứ khoản phí nào khi đặt câu hỏi trên Blog và đăng ký tìm gia sư. Đặc biệt, bạn có thể tăng thêm thu nhập bằng cách chia sẻ các kiến thức trên tính năng Blog của AsknTeach.</div>
  </div>
</div>

<div class="row tutor-top">
  <div class="col-md-7">
    <h2 class="student-h3">Yêu cầu gia sư hoặc tham gia vào các lớp học online qua ứng dụng AsknTeach ngay hôm nay</h2>
  </div>
  <div class="col-md-5">
    <%= image_tag("tutor-request-img.png", width: "100%") %>
  </div>
</div>
