<% provide(:title, "Gia sư") %>
<div class="row tutor-top">
  <div class="col-md-4">
    <%= image_tag("children-img.png", width: "100%") %>
  </div>
  <div class="col-md-8">
    <h3>Dạy học ở AsknTeach không chỉ là công việc</h3>
    <p>Hãy là Gia sư ngay hôm nay! Nơi cho phép bạn tận dụng tối ưu thời gian để tăng thu nhập và có thêm kinh nghiệm.</p>
    <p>Niềm vui hạnh phúc được nhân đôi cho gia sư là gì? Đó chính là học sinh tiến bộ trong học tập, có những kết quả vượt trội – đây chính là động lực để gia sư phấn đấu nghiên cứu thêm nhiều phương pháp giảng dạy hơn nữa.</p>
    <p>Tại AsknTeach, chúng tôi tạo ra một môi trường lý tưởng giúp các gia sư có cơ hội được tiếp xúc với nhiều đối tượng học trò với số lượng lên tới hàng trăm lớp học.</p>
  </div>
</div>

<div class="row tutor-top">
  <h3 class="text-center">Vì sao nên dạy học tại AsknTeach?</h3>
  <p class="text-center">Cho dù bạn là ai, chỉ cần với kiến thức và niềm đam mê để giảng dạy - AsknTeach chính là đối tác của bạn.</p>
  <div class="col-md-4">
    <%= image_tag("undraw_co-workers_ujs6@3x.png", width: "100%", class: "tutor-img") %>
    <p class="tutor-p">Tăng thêm thu nhập</p>
    <div class="tutor-div">Bạn chỉ mất khoảng 25% - 30% phí cho thu nhập của tháng đầu mà không mất thêm bất cứ chi phí nào khác. Học phí của bạn sẽ do bạn tự thương lượng với phụ huynh học sinh.</div>
  </div>
  <div class="col-md-4">
    <%= image_tag("undraw_co-workers_ujs6@3x.png", width: "100%", class: "tutor-img") %>
    <p class="tutor-p">Linh hoạt trong hình thức dạy học</p>
    <div class="tutor-div">Bạn có thể chọn các lớp online hoặc offline, cho bạn sự thoải mái nhất trong công việc vì bạn có thể dạy ngay tại nhà mình và tiết kiệm chi phí đi lại. Bạn có quyền thương lượng với phụ huynh về địa điểm học.</div>
  </div>
  <div class="col-md-4">
    <%= image_tag("savetime_artwork@3x.png", width: "100%", class: "tutor-img") %>
    <p class="tutor-p">Làm chủ thời gian</p>
    <div class="tutor-div">Với số lượng lớp đa dạng, bạn có thể thoải mái lựa chọn các lớp học có thời gian dạy phù hợp với mình.</div>
  </div>
</div>

<div class="row tutor-top">
  <div class="col-md-7">
    <h3>Ứng dụng dạy học online</h3>
    <p>Là ứng dụng được phát triển bởi các kỹ sư có chuyên môn về CNTT hàng đầu tại Singapore. Với mục đích giúp bạn có thể thoải mái chọn các lớp dạy trực tuyến khi bạn muốn dạy ngay tại nhà mình để tiết kiệm thời gian, chi phí đi lại. Hãy Đăng ký ngay để dạy học với ứng dụng AsknTeach.</p>
  </div>
  <div class="col-md-5">
    <%= image_tag("group_1903@3x.png", width: "100%") %>
  </div>
</div>
