<% provide(:title, "Đăng nhập") %>
<div class="login-form">
  <%= form_for(:session, url: login_path) do |f| %>
    <div class="avatar">
      <%= image_tag("logo.png") %>
    </div>
    <h2 class="text-center">ĐĂNG NHẬP</h2>
    <div class="social-btn text-center">
      <a href="#" class="btn btn-primary btn-block btn-lg">
        <i class="fa fa-facebook"></i> Đăng nhập bằng <b>Facebook</b>
      </a>
      <a href="#" class="btn btn-info btn-block btn-lg">
        <i class="fa fa-twitter"></i> Đăng nhập bằng <b>Twitter</b>
      </a>
      <a href="#" class="btn btn-danger btn-block btn-lg">
        <i class="fa fa-google"></i> Đăng nhập bằng <b>Google</b>
      </a>
    </div>
    <div class="or-seperator text-center"><span>~ hoặc ~</span></div>
    <div class="form-group">
      <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
    </div>
    <div class="form-group">
        <%= f.password_field :password, class: "form-control", placeholder: "Mật khẩu" %>
    </div>
    <div class="form-group">
      <%= f.submit "Đăng nhập", class: "btn btn-primary btn-lg btn-block login-btn" %>
    </div>
    <p class="text-center small"><%= link_to "Đăng ký tại đây!", signup_path %></p>
  <% end %>
</div>
