<% provide(:title, @student.user.name) %>
<div class="row">
  <div class="col-md-4 profile">
    <div class="row info">
      <div class="col-md-2"><i class="fa fa-info-circle fa-2x"></i></div>
      <div class="col-md-9">
        <div class="title">Họ tên đầy đủ</div>
        <p><%= @student.user.name %></p>
      </div>
    </div>
    <div class="row info">
      <div class="col-md-2"><i class="fa fa-calendar fa-2x"></i></div>
      <div class="col-md-9">
        <div class="title">Ngày tháng năm sinh</div>
        <p><%= @student.dob %></p>
      </div>
    </div>
    <div class="row info">
      <div class="col-md-2"><i class="fa fa-map-marker fa-2x"></i></div>
      <div class="col-md-9">
        <div class="title">Nơi sống</div>
        <p><%= @student.address %></p>
      </div>
    </div>
    <div class="row info">
      <div class="col-md-2"><i class="fa fa-user fa-2x"></i></div>
      <div class="col-md-9">
        <div class="title">Giới tính</div>
        <p><%= @student.gender %></p>
      </div>
    </div>
    <div class="row info">
      <div class="col-md-2"><i class="fa fa-graduation-cap fa-2x"></i></div>
      <div class="col-md-9">
        <div class="title">Trình độ học vấn</div>
        <p><%= @student.literacy %></p>
      </div>
    </div>
    <div class="row info">
      <div class="col-md-2"><i class="fa fa-phone fa-2x"></i></div>
      <div class="col-md-9">
        <div class="title">Số điện thoại</div>
        <p><%= @student.phone %></p>
      </div>
    </div>
    <div class="row info">
      <div class="col-md-2"><i class="fa fa-envelope fa-2x"></i></div>
      <div class="col-md-9">
        <div class="title">Email</div>
        <p><%= @student.user.email %></p>
      </div>
    </div>
  </div>
  <div class="col-md-8 mentor-info">
    <div class="row">
      <h3 class="mentor-title">Bài đăng
        <% if logged_in? && current_user?(@student.user) %>
          <%= link_to "+", new_post_path, class: "button-background" %>
        <% end %>
      </h3>
      <div>
        <ul class="subject-taught">
          <% @student.posts.newest.open.each do |post| %>
            <li>
              <%= link_to post, class: "nav-link cool" do %>
                <%= post.subject.name %> - <%= post.level %> - <%= post.fee.to_i %>/buổi - Ngày bắt đầu: <%= post.from_date %>
              <% end %>

              <% if logged_in? && current_user?(@student.user) %>
                <span style="padding-left: 1em">
                  <%= link_to edit_post_path(post) do %>
                    <em class="fa fa-pencil"></em>
                  <% end %>
                </span>
                <span style="padding-left: 1em">
                  <%= link_to post_path(post), method: :delete, data: {confirm: "Bạn chắc chắn muốn xóa?"} do %>
                    <em class="fa fa-trash"></em>
                  <% end %>
                </span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <% if logged_in? && current_user?(@student.user) %>
      <div class="row">
        <h3 class="mentor-title">Lớp đang đăng ký</h3><br>
        <div>
          <table class="table table-striped table-bordered table-list text-center">
            <thead>
              <tr>
                <th class="text-center">Gia sư</th>
                <th class="text-center">Môn học</th>
                <th class="text-center">Cấp độ</th>
                <th class="text-center"><em class="fa fa-cog"></em></th>
              </tr>
            </thead>
            <tbody>
              <% @student.posts.newest.findStudent.waiting.each do |post| %>
                <tr>
                  <td><%= link_to post.tutor.user.name, tutor_path(post.tutor) %></td>
                  <td><%=  post.subject.name %></td>
                  <td><%=  post.level %></td>
                  <td>
                    <%= link_to post, class: "btn btn-primary" do %>
                      <em class="fa fa-eye"></em>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <h3 class="mentor-title">Yêu cầu dạy của gia sư</h3><br>
        <div>
          <table class="table table-striped table-bordered table-list text-center">
            <thead>
              <tr>
                <th class="text-center">Gia sư</th>
                <th class="text-center">Môn học</th>
                <th class="text-center">Cấp độ</th>
                <th class="text-center"><em class="fa fa-cog"></em></th>
              </tr>
            </thead>
            <tbody>
              <% @student.posts.newest.findTutor.waiting.each do |post| %>
                <tr>
                  <td><%= link_to post.tutor.user.name, tutor_path(post.tutor) %></td>
                  <td><%=  post.subject.name %></td>
                  <td><%=  post.level %></td>
                  <td>
                    <%= link_to approve_post_path(post), class: "btn btn-success" do %>
                      <em class="fa fa-check-circle"></em>
                    <% end %>
                    <%= link_to post, class: "btn btn-primary" do %>
                      <em class="fa fa-eye"></em>
                    <% end %>
                    <%= link_to reject_post_path(post), class: "btn btn-danger" do %>
                      <em class="fa fa-times"></em>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <h3 class="mentor-title">Lớp đang học</h3><br>
        <div>
          <table class="table table-striped table-bordered table-list text-center">
            <thead>
              <tr>
                <th class="text-center">Gia sư</th>
                <th class="text-center">Môn học</th>
                <th class="text-center">Cấp độ</th>
                <th class="text-center"><em class="fa fa-cog"></em></th>
              </tr>
            </thead>
            <tbody>
              <% @student.posts.newest.starting.each do |post| %>
                <tr>
                  <td><%= link_to post.tutor.user.name, tutor_path(post.tutor) %></td>
                  <td><%=  post.subject.name %></td>
                  <td><%=  post.level %></td>
                  <td>
                    <%= link_to showclass_report_path(post), class: "btn btn-primary" do %>
                      <em class="fa fa-eye"></em>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <h3 class="mentor-title">Lịch sử học</h3><br>
        <div>
          <table class="table table-striped table-bordered table-list text-center">
            <thead>
              <tr>
                <th class="text-center">Gia sư</th>
                <th class="text-center">Môn học</th>
                <th class="text-center">Cấp độ</th>
                <th class="text-center">Từ ngày</th>
                <th class="text-center">Đến ngày</th>
                <th class="text-center"><em class="fa fa-cog"></em></th>
              </tr>
            </thead>
            <tbody>
              <% @student.posts.newest.finished.each do |post| %>
                <tr>
                  <td><%= link_to post.tutor.user.name, tutor_path(post.tutor) %></td>
                  <td><%=  post.subject.name %></td>
                  <td><%=  post.level %></td>
                  <td><%=  post.from_date %></td>
                  <td><%=  post.to_date %></td>
                  <td>
                    <%= link_to showclass_report_path(post), class: "btn btn-primary" do %>
                      <em class="fa fa-eye"></em>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>
