<div class="login-form">
  <%= form_for @tutor do |f| %>
    <%= render "shared/error_messages", object: @tutor %>

    <div class="avatar">
      <%= image_tag("logo.png") %>
    </div>
    <h2 class="text-center">CẬP NHẬP THÔNG TIN CÁ NHÂN</h2>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="form-group">
      <%= f.text_field :phone, class: "form-control", placeholder: "Điện thoại di dộng" %>
    </div>

    <div class="form-group">
      <%= f.text_field :address, class: "form-control", placeholder: "Địa chỉ" %>
    </div>

    <div class="form-group">
      <%= f.date_field :dob, class: "form-control" %>
    </div>

    <div class="row form-group">
      <div class="col-md-3">
        <%= f.radio_button :gender, "Nam" %>
        <%= f.label :gender, "Nam", value: "Nam" %>
      </div>
      <div class="col-md-3">
        <%= f.radio_button :gender, "Nữ" %>
        <%= f.label :gender, "Nữ", value: "Nữ" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :literacy, class: "control-label" %>
      <%= f.select :literacy, options_for_tutor, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :introduce, class: "control-label" %>
      <%= f.text_area :introduce, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :avatar, class: "control-label" %>
      <%= f.file_field :avatar, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit yield(:button_text), class: "btn btn-primary btn-lg btn-block login-btn" %>
    </div>
    <p class="text-center small"><%= link_to "Hủy đăng ký!", user_path(current_user), method: :delete %></p>
  <% end %>
</div>
