<% provide(:title, @tutor.user.name) %>
<div class="row">
  <div class="col-md-4 profile">
    <div class="row mentor-avatar">
      <%= image_tag @tutor.avatar_url.to_s %>
    </div>
    <div class="row info">
      <div class="col-md-2"><i class="fa fa-info-circle fa-2x"></i></div>
      <div class="col-md-9">
        <div class="title">Họ tên đầy đủ</div>
        <p><%= @tutor.user.name %></p>
      </div>
    </div>
    <div class="row info">
      <div class="col-md-2"><i class="fa fa-calendar fa-2x"></i></div>
      <div class="col-md-9">
        <div class="title">Ngày tháng năm sinh</div>
        <p><%= @tutor.dob %></p>
      </div>
    </div>
    <div class="row info">
      <div class="col-md-2"><i class="fa fa-map-marker fa-2x"></i></div>
      <div class="col-md-9">
        <div class="title">Nơi sống</div>
        <p><%= @tutor.address %></p>
      </div>
    </div>
    <div class="row info">
      <div class="col-md-2"><i class="fa fa-user fa-2x"></i></div>
      <div class="col-md-9">
        <div class="title">Giới tính</div>
        <p><%= @tutor.gender %></p>
      </div>
    </div>
    <div class="row info">
      <div class="col-md-2"><i class="fa fa-graduation-cap fa-2x"></i></div>
      <div class="col-md-9">
        <div class="title">Trình độ học vấn</div>
        <p><%= @tutor.literacy %></p>
      </div>
    </div>
    <div class="row info">
      <div class="col-md-2"><i class="fa fa-phone fa-2x"></i></div>
      <div class="col-md-9">
        <div class="title">Số điện thoại</div>
        <p><%= @tutor.phone %></p>
      </div>
    </div>
    <div class="row info">
      <div class="col-md-2"><i class="fa fa-envelope fa-2x"></i></div>
      <div class="col-md-9">
        <div class="title">Email</div>
        <p><%= @tutor.user.email %></p>
      </div>
    </div>
  </div>
<!--   -->
  <div class="col-md-8 mentor-info">
    <div class="row">
      <h3 class="mentor-title">Thông tin chung</h3>
      <div class="mentor-content"><%= @tutor.introduce %></div>
    </div>

    <div class="row">
      <h3 class="mentor-title">Chủ đề dạy
        <% if logged_in? && current_user?(@tutor.user) %>
          <!-- Button trigger modal -->
          <button type="button" class="button-background" data-toggle="modal" data-target="#majors">+</button>
          <!-- Modal -->
          <div class="modal fade" id="majors" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Chọn môn dạy</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= render "majors/form" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </h3>
      <div>
        <ul class="subject-taught">
          <%= render @tutor.majors %>
        </ul>
      </div>
    </div>

    <div class="row">
      <h3 class="mentor-title">Bằng cấp
        <% if logged_in? && current_user?(@tutor.user) %>
          <%= link_to "+", new_certificate_path, class: "button-background" %>
        <% end %>
      </h3>
      <div>
        <ul class="subject-taught">
          <%= render @tutor.certificates %>
        </ul>
      </div>
    </div>

    <div class="row">
      <h3 class="mentor-title">Đánh giá</h3>
    </div>

    <div class="row">
      <h3 class="mentor-title">Bài đăng
        <% if logged_in? && current_user?(@tutor.user) %>
          <%= link_to "+", new_post_path, class: "button-background" %>
        <% end %>
      </h3>
      <div>
        <ul class="subject-taught">
          <% @tutor.posts.open.each do |post| %>
            <li>
              <%= link_to post, class: "nav-link cool" do %>
                <%= post.subject.name %> - <%= post.level %> - <%= post.fee.to_i %>/buổi - Ngày bắt đầu: <%= post.from_date %>
              <% end %>

              <% if logged_in? && current_user?(@tutor.user) %>
                <span style="padding-left: 1em">
                  <%= link_to edit_post_path(post) do %>
                    <em class="fa fa-pencil"></em>
                  <% end %>
                </span>
                <span style="padding-left: 1em">
                  <%= link_to post_path(post), method: :delete, data: {confirm: "Bạn chắc chắn muốn xóa?"} do %>
                    <em class="fa fa-trash"></em>
                  <% end %>
                </span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>
