<div class="login-form">
  <%= form_for (@user), url: yield(:url)  do |f| %>
    <%= render "shared/error_messages", object: @user %>

    <div class="avatar">
      <%= image_tag("logo.png") %>
    </div>
    <h2 class="text-center">ĐĂNG KÝ</h2>
    <div class="form-group">
      <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, class: "form-control", placeholder: "Mật khẩu" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Nhập lại mật khẩu" %>
    </div>

    <div class="form-group">
      <%= f.radio_button :role, "tutor", checked: true %>
      <%= f.label :role, "Gia sư", value: "tutor" %>
      <%= f.radio_button :role, "student" %>
      <%= f.label :role, "Học sinh", value: "student" %>
    </div>
    <div class="form-group">
      <%= f.submit yield(:button_text), class: "btn btn-primary btn-lg btn-block login-btn" %>
    </div>
    <p class="text-center small"><%= link_to "Đăng nhập ngay!", login_path %></p>
  <% end %>
</div>
