<footer>
  <div class="instagram-posts">
    <div class="row footer-bottom-w3layouts-agileinfo">
      <div class="footer-cpy col-md-3 text-center">
        <%= link_to root_path do %>
          <%= image_tag("logo.png", width: "65px") %>
          <p class="askn-txt-footer">ASKN Teach</p>
        <% end %>
      </div>
      <div class="footer-cpy col-md-3">
        <div class="footer-social">
          <div class="copyrighttop">
            <ul class="navbar-nav">
              <div class="nav-item">
                <%= link_to "Trang chủ",root_path, class: "nav-link cool color-item" %>
              </div>
               <div class="nav-item">
                <%= link_to "Về chúng tôi",root_path, class: "nav-link cool color-item" %>
              </div>
              <div class="nav-item">
                <%= link_to "Gia sư",root_path, class: "nav-link cool color-item" %>
              </div>
              <div class="nav-item">
                <%= link_to "Hướng dẫn sử dụng",root_path, class: "nav-link cool color-item" %>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-cpy col-md-3">
        <div class="footer-social">
          <div class="copyrighttop">
            <ul class="navbar-nav">
              <div class="nav-item">
                <%= link_to "Tin tức",root_path, class: "nav-link cool color-item" %>
              </div>
               <div class="nav-item">
                <%= link_to "Phụ huynh",root_path, class: "nav-link cool color-item" %>
              </div>
              <div class="nav-item">
                <%= link_to "Lớp hiện có",root_path, class: "nav-link cool color-item" %>
              </div>
              <div class="nav-item">
                <%= link_to "Học sinh",root_path, class: "nav-link cool color-item" %>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-cpy col-md-3">
        <div class="footer-social">
          <div class="copyrighttop">
            <ul class="navbar-nav">
              <div class="nav-item">
                <%= link_to "Liên hệ",root_path, class: "nav-link cool color-item" %>
              </div>
               <div class="nav-item">
                <%= link_to "Thắc mắc",root_path, class: "nav-link cool color-item" %>
              </div>
              <div class="nav-item">
                <%= link_to "Chính sách bảo mật",root_path, class: "nav-link cool color-item" %>
              </div>
              <div class="nav-item">
                <%= link_to "Điều khoản sử dụng",root_path, class: "nav-link cool color-item" %>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <!-- //footer -->
      <div class="col-md-12 footer-bottom">
        <ul class="nav">
          <li class="txt-bottom">
            <%= image_tag("icon-map.svg", width: "15px") %> Tầng 3, tòa nhà Đại Phát, ngõ 82 phố Duy Tân, phường Dịch Vọng Hậu, quận Cầu Giấy, thành phố Hà Nội.
          </li>
          <li class="txt-bottom">
            <%= image_tag("icon-map.svg", width: "15px") %> 42B đường Hồ Bá Phấn, phường Phước Long A, Quận 9, thành phố Hồ Chí Minh
          </li>
          <li class="txt-bottom">
            <%= image_tag("icon-giay-phep.svg", width: "15px") %> Giấy phép ĐKKD số: 0315384374 do chi cục thuế TP Hồ Chí Minh cấp ngày 12/11/2018
          </li>
          <li class="txt-bottom">
            <%= image_tag("icon-phone.svg", width: "15px") %> Hotline: (+84) 0867.969.581
          </li>
          <li class="txt-bottom">
            <%= image_tag("icon-send.svg", width: "15px") %> Email: support.vn@asknteach.com
          </li>
          <li class="txt-bottom">
            <%= image_tag("icon-facebook.svg", width: "15px") %> Fanpage: https://www.facebook.com/asknteachvietnam/
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="txt-bottom2 text-center mt-4">Copyright © 2019 ASKNTEACH. All rights reserved.</div>
</footer>
