<footer>
  <div class="instagram-posts">
    <div class="row footer-bottom-w3layouts-agileinfo">
      <div class="footer-cpy col-md-3 text-center">
        <%= link_to root_path do %>
          <%= image_tag("logo.png", width: "65px") %>
          <p class="askn-txt-footer">ASKN Teach</p>
        <% end %>
      </div>
      <div class="footer-cpy col-md-3">
        <div class="footer-social">
          <div class="copyrighttop">
            <ul class="navbar-nav">
              <div class="nav-item">
                <%= link_to "Trang chủ",root_path, class: "nav-link cool color-item" %>
              </div>
               <div class="nav-item">
                <%= link_to "Về chúng tôi",about_path, class: "nav-link cool color-item" %>
              </div>
              <div class="nav-item">
                <%= link_to "Gia sư",giasu_path, class: "nav-link cool color-item" %>
              </div>
              <div class="nav-item">
                <%= link_to "Hướng dẫn sử dụng",root_path, class: "nav-link cool color-item" %>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-cpy col-md-3">
        <div class="footer-social">
          <div class="copyrighttop">
            <ul class="navbar-nav">
              <div class="nav-item">
                <%= link_to "Tin tức",root_path, class: "nav-link cool color-item" %>
              </div>
               <div class="nav-item">
                <%= link_to "Phụ huynh",phuhuynh_path, class: "nav-link cool color-item" %>
              </div>
              <div class="nav-item">
                <%= link_to "Lớp hiện có",posts_path, class: "nav-link cool color-item" %>
              </div>
              <div class="nav-item">
                <%= link_to "Học sinh",hocsinh_path, class: "nav-link cool color-item" %>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-cpy col-md-3">
        <div class="footer-social">
          <div class="copyrighttop">
            <ul class="navbar-nav">
              <div class="nav-item">
                <%= link_to "Liên hệ",root_path, class: "nav-link cool color-item" %>
              </div>
               <div class="nav-item">
                <%= link_to "Thắc mắc",root_path, class: "nav-link cool color-item" %>
              </div>
              <div class="nav-item">
                <%= link_to "Chính sách bảo mật",root_path, class: "nav-link cool color-item" %>
              </div>
              <div class="nav-item">
                <%= link_to "Điều khoản sử dụng",root_path, class: "nav-link cool color-item" %>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <!-- //footer -->
      <div class="col-md-12 footer-bottom">
        <ul class="nav">
          <li class="txt-bottom">
            <%= image_tag("icon-map.svg", width: "15px") %> Tầng 2, tòa nhà 33/48, đường Ông Ích Khiêm, phường Thanh Bình, quận Hải Châu, thành phố Đà Nẵng.
          </li>
          <li class="txt-bottom">
            <%= image_tag("icon-giay-phep.svg", width: "15px") %> Giấy phép ĐKKD số: 0315384374 do chi cục thuế TP Đà Nẵng cấp ngày 01/03/2019
          </li>
          <li class="txt-bottom">
            <%= image_tag("icon-phone.svg", width: "15px") %> Hotline: (+84) 0326.663.287
          </li>
          <li class="txt-bottom">
            <%= image_tag("icon-send.svg", width: "15px") %> Email: tranvantu.dev@gmail.com
          </li>
          <li class="txt-bottom">
            <%= image_tag("icon-facebook.svg", width: "15px") %> Fanpage: https://www.facebook.com/tranvantu.ruby
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="txt-bottom2 text-center mt-4">Copyright © 2019 ASKNTEACH. All rights reserved.</div>
</footer>
